@import "tailwindcss";

@theme {
  --color-gemini-bg:#131314;
  --color-gemini-surface:#1e1e20;
  --color-gemini-border:#333639;
  --color-gemini-text:#e3e3e3;
  --color-gemini-muted:#c4c7c5;
  --color-gemini-accent:#a8c7fa;
}

body {
  @apply bg-gemini-bg text-gemini-text;
}
